<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, user-scalable=yes">

    <title>api-ai-interface demo</title>

    <script src="../../webcomponentsjs/webcomponents-lite.js"></script>

    <link rel="import" href="../../iron-demo-helpers/demo-pages-shared-styles.html">
    <link rel="import" href="../../iron-demo-helpers/demo-snippet.html">
    <link rel="import" href="../api-ai-interface.html">

    <style is="custom-style" include="demo-pages-shared-styles">
    </style>
  </head>
  <body>
    <div class="vertical-section-container centered">
      <h3>Basic api-ai-interface demo</h3>
      <demo-snippet>
        <template>
          <api-ai-interface access-token="5b5cf4c2b56f4c5f83f41ada9a12c07a"
                            lang="en"
          ></api-ai-interface>
        </template>
      </demo-snippet>
    </div>
  </body>
</html>
